@model IEnumerable<WebApplication3.Models.SANPHAM>
@{
    ViewBag.Title = "SPTheoNCC";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}
<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-sm-1 col-lg-4 col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("Detail","TrangChu",new {@id=item.MASP})">
                    <img alt="@item.TENSP" src="~/Content/assets/img/ao/@item.ANH" style="width: 100%;height:300px" />


                    <div>
                        <br />
                        <h4 style="text-align:center">
                            @item.TENSP


                        </h4>
                        <p></p>
                    </div>
                </a>
                <p style="text-align:center;margin-left:50px">Giá:<span style="color:red">@string.Format("{0:0,0}", item.DONGIA) vnd</span> </p>
             
            </div>

        </div>
    }

</div>

